<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <img src="assets/logo.png" alt="Kuvio Logo" class="footer-logo" />

      <div class="social-icons">
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.facebook.com/hochschuleworms/?locale=de_DE" target="_blank" aria-label="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.youtube.com/@DeineBabushka" target="_blank" aria-label="Youtube">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://x.com/stupaworms" target="_blank" aria-label="X">
          <i class="bi bi-twitter"></i>
        </a>
      </div>

      <p class="slogan">Koch dich glücklich – schnell, lecker, zuhause.</p>
    </div>

    <div class="footer-right">
      <h3>Rechtliche Hinweise</h3>
      <ul>
        <li><a routerLink="/imprint">Impressum</a></li>
        <li><a routerLink="/privacypolicy">Datenschutz</a></li>
      </ul>
    </div>
  </div>
</footer>