<form [formGroup]="form">
  <div class="search-wrapper">
    <div class="search-container-with-button">
      <div class="search-container">
        <i class="bi bi-search"></i>
        <input
          type="text"
          formControlName="search"
          placeholder=" z.B. Vegetarisch, Lasagne, Rindersteak"
          />
        </div>
        <button class="filter-toggle" (click)="toggleFilterMenu()" aria-label="Filtermenü">🍴 Filter</button>
      </div>

      @if (showFilterMenu) {
        <div class="filter-menu">
          <h3 class="filter-title">Diät-Typen</h3>
          <div class="filter-group">
            <label><input type="checkbox" formControlName="vegan"/> Vegan</label>
            <label><input type="checkbox" formControlName="vegetarian"/> Vegetarisch</label>
            <label><input type="checkbox" formControlName="glutenFree"/> Glutenfrei</label>
            <label><input type="checkbox" formControlName="keto"/> Keto</label>
            <label><input type="checkbox" formControlName="raw"/> Rohkost</label>
            <label><input type="checkbox" formControlName="meat"/> Fleisch</label>
            <label><input type="checkbox" formControlName="lowCalorie"/> Kalorienarm</label>
            <label><input type="checkbox" formControlName="fish"/> Fisch</label>
          </div>
        </div>
      }
    </div>
  </form>
