.header {
  background-color: #122620;
  color: white;
  padding: 1rem 2rem;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
  width: auto;
}
