<div *ngIf="auth.isLoggedIn()" class="willkommen-box">
  Willkommen zurück, {{ auth.getUsername() }}!
</div>

<section class="daily-recipe-section">
  <h2>Rezepte des Tages</h2>

  <div class="carousel-wrapper">
    <div class="recipe-carousel">
      <div class="recipe-card" *ngFor="let recipe of visibleRecipes" (click)="goToRecipeDetail(recipe._id)">
        <img [src]="'assets/' + recipe.image" [alt]="recipe.title" />
        <h3>{{ recipe.title }}</h3>
        <p>⌛{{ recipe.preparation_time }}</p>
      </div>
    </div>

    <div class="nav-buttons">
      <button class="nav-circle" (click)="prevRecipe()">❮</button>
      <button class="nav-circle" (click)="nextRecipe()">❯</button>
    </div>

    <div class="dots">
      <span *ngFor="let _ of recipes.slice(0, recipes.length - 4); let idx = index" class="dot"
        [class.active]="idx === currentIndex">
      </span>
    </div>
  </div>
</section>

<section class="info-section">
  <app-seasonal></app-seasonal>
  <app-quote-of-the-day></app-quote-of-the-day>
</section>