.navbar {
  display: flex;
  gap: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

.navbar a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.2s ease;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: none;
}

.navbar a:hover {
  opacity: 0.8;
}

.navbar a.logout-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.2s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar a.logout-link:hover {
  opacity: 0.8;
}


.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: #122620;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 70px;
    z-index: 1000;
    width: max-content;
    border-radius: 4px;
  }

  .navbar.open {
    display: flex;
  }
}
