<button class="back-button" (click)="goBack()">⬅ Zurück</button>
@if (comments().length > 0) {
  <div class="comments-section">
    <h2 class="comment-title">Kommentare von <span>{{ username }}</span></h2>
    @for (comment of comments(); track comment) {
      <div class="comment-card">
        <p>
          <strong>Rezept: </strong>
          <a [routerLink]="['/recipe', comment.recipeID]">{{ comment.recipeTitle }}</a>
        </p>
        <p><strong>Bewertung:</strong> {{ comment.rating }} / 5</p>
        <p><strong>Kommentar:</strong> {{ comment.comment }}</p>
        <p><strong>Erstellt am:</strong> {{ comment.created_at | date: 'dd.MM.yyyy, HH:mm' : 'UTC'  }}</p>
      </div>
    }
  </div>
} @else {
  <div class="no-comments">
    <p>Dieser Nutzer hat noch keine Kommentare verfasst.</p>
  </div>
}

