body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
    margin-left: 15px;
}

h1 {
    font-size: 2.2rem;
    color: #122620;
    margin-bottom: 0.5em;
    border-bottom: 3px solid #122620;
    padding-bottom: 0.4em;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #2a3d2f;
    border-left: 4px solid #9ba17b;
    padding-left: 0.5em;
}

h3 {
    font-size: 1.2rem;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
    color: #444;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1em;
}

ul {
    padding-left: 1.5em;
    margin-bottom: 1em;
    font-size: 1rem;
}

li {
    margin-bottom: 0.3em;
}

@media (max-width: 600px) {
    main {
        padding: 1em;
    }
}