<app-search (searchResult)="setRecipes($event)"></app-search>

@if (recipes.length > 0) {
  <section class="recipe-list-section">
    <div class="recipe-grid">
      @for (recipe of recipes; track trackByRecipeId($index, recipe)) {
        <a
          class="recipe-card"
          [routerLink]="['/recipe', recipe._id]"
          >
          <img
            [src]="'assets/' + recipe.image"
            [alt]="recipe.title"
            />
            <h3>{{ recipe.title }}</h3>
            <p>⌛ {{ recipe.preparation_time }}</p>
          </a>
        }
      </div>
    </section>
  } @else {
    <div class="no-recipes">
      <p>Keine Rezepte gefunden</p>
    </div>
  }

