.daily-recipe-section {
  background: white;
  padding: 2rem;
  text-align: center;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.info-section>* {
  flex: 1 1 400px;
  max-width: 500px;
  background: #f5f5f5;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.willkommen-box {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 1rem 0;
  text-align: center;
  color: #122620;
}